<div class="container-fluid">
    <footer>
        <div class="col-lg-4">
            <h4>About</h4>
            <p>Powered Nông Nguyễn Thành</p>
            <p>PS28372 - MD18302</p>
            <p>Copyright © 2023. All rights reserved.</p>
        </div>
        <div class="col-lg-4">
            <h4>Links</h4>
            <a rel="noopener" href="https://fb.com/thanhnn0106" target="_blank">
                <i class="fab fa-facebook"></i>
                <span>Nguyễn Thành</span>
            </a>
            <a href="#">
                <i class="fab fa-facebook-messenger"></i>
                <span>Nguyễn Thành</span>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
                <span>Nguyễn Thành</span>
            </a>
            <a href="#">
                <i class="fab fa-youtube"></i>
                <span>Miwth</span>
            </a>
        </div>
        <div class="col-lg-4">
            <h4>Contacts</h4>
            <p>
                <i class="fas fa-map-marker-alt"></i> Address: 1358 Quang Trung St.,
                Go Vap Dis.
            </p>
            <p><i class="fas fa-phone"></i> Phone: (0)34 - 654 - 2636</p>
            <p>
                <i class="fas fa-envelope"></i> Email: nongnguyenthanh@outlook.com
            </p>
        </div>
    </footer>
</div>