<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link rel="stylesheet" href="../../public/css/gallery/hcm.css" />
    <title>Charmplace - Ho Chi Minh</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script src="../../public/script/script.js" defer></script>
    <script src="../../public/script/bootstrap.bundle.min.js" defer></script>
    <link rel="shortcut icon" href="../../public/img/logo/logo.png" type="image/png" />
  </head>
  <body>
    <div class="container-fluid text-center">
      <header>
        <nav
          class="navbar navbar-expand-lg navbar-light fixed-top"
          aria-label="menu"
        >
          <div class="logo">
            <a class="navbar-brand" href="index.html"
              ><img src="../../public/img/logo/logo.png" alt="logo"
            /></a>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="index.html"
                  title="Trang chủ"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="about.html" title="Giới thiệu"
                  >ABOUT</a
                >
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  title="Thư viện"
                  >GALLERY</a
                >
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="ho-chi-minh.html"
                      >Ho Chi Minh</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="ha-noi.html">Ha Noi</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="hoi-an.html">Hoi An</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="ha-long-bay.html"
                      >Ha Long Bay</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="da-lat.html">Da Lat</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="all.html">ALL...</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="blog.html" title="Blog"
                  >BLOG</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="contact-us.html"
                  title="Liên hệ chúng tôi"
                  >CONTACT US</a
                >
              </li>
            </ul>
            <button
              type="button"
              class="btn btn-outline-light text-dark me-4"
              data-bs-toggle="modal"
              data-bs-target="#login-form"
              data-bs-backdrop="true"
            >
              LOGIN
            </button>
            <!-- The Modal -->
            <div class="modal" id="login-form">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">LOGIN</h4>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                    ></button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="h-custom">
                      <div
                        class="row d-flex justify-content-center align-items-center h-100"
                      >
                        <div class="col-md-9 col-lg-6 col-xl-5">
                          <img
                            src="../../public/img/logo/login.jpg"
                            class="img-fluid"
                            alt="Sample image"
                          />
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                          <form>
                            <div
                              class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
                            >
                              <p class="lead fw-normal mb-0 me-3">
                                Sign in with
                              </p>
                              <button
                                type="button"
                                class="btn btn-primary btn-floating mx-1"
                              >
                                <i class="fab fa-facebook-f"></i>
                              </button>

                              <button
                                type="button"
                                class="btn btn-primary btn-floating mx-1"
                              >
                                <i class="fab fa-twitter"></i>
                              </button>

                              <button
                                type="button"
                                class="btn btn-primary btn-floating mx-1"
                              >
                                <i class="fab fa-linkedin-in"></i>
                              </button>
                            </div>

                            <div class="divider d-flex align-items-center my-4">
                              <p class="text-center fw-bold mx-3 mb-0">Or</p>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input
                                type="email"
                                id="form3Example3"
                                class="form-control form-control-lg"
                                placeholder="Enter a valid email address"
                              />
                              <label class="form-label" for="form3Example3"
                                >Email address</label
                              >
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-3">
                              <input
                                type="password"
                                id="form3Example4"
                                class="form-control form-control-lg"
                                placeholder="Enter password"
                              />
                              <label class="form-label" for="form3Example4"
                                >Password</label
                              >
                            </div>
                            <div
                              class="d-flex justify-content-between align-items-center"
                            >
                              <!-- Checkbox -->
                              <div class="form-check mb-0">
                                <input
                                  class="form-check-input me-2"
                                  type="checkbox"
                                  value=""
                                  id="form2Example3"
                                />
                                <label
                                  class="form-check-label"
                                  for="form2Example3"
                                >
                                  Remember me
                                </label>
                              </div>
                              <a href="#!" class="text-body"
                                >Forgot password?</a
                              >
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2">
                              <button
                                type="button"
                                class="btn btn-primary btn-lg"
                                style="
                                  padding-left: 2.5rem;
                                  padding-right: 2.5rem;
                                "
                              >
                                Login
                              </button>
                              <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account?
                                <a href="../../../register.html" class="link-danger"
                                  >Register</a
                                >
                              </p>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-danger" type="submit">
                Search
              </button>
            </form>
          </div>
        </nav>
        <div id="back-to-top">
          <button onclick="topFunction()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"
              />
            </svg>
          </button>
        </div>
      </header>
    </div>
    <section class="py-5 text-center">
      <h1>Best Hotel in Ho Chi Minh</h1>
      <!-- Gallery -->
      <div class="row">
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/lavelahotel.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/02.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/03.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/04.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/05.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
          <a href="detail.html"
            ><img
              src="../../public/img/hcm/06.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Lavela SaiGon Hotel"
          /></a>
          <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
      </div>
      <!-- Gallery -->
    </section>
    <div class="container-fluid">
      <footer>
        <div class="col-lg-4">
          <h4>About</h4>
          <p>Powered Nông Nguyễn Thành</p>
          <p>PS28372 - CP18301</p>
          <p>Copyright © 2023. All rights reserved.</p>
        </div>
        <div class="col-lg-4">
          <h4>Links</h4>
          <a rel="noopener" href="https://fb.com/thanhnn0106" target="_blank">
            <i class="fab fa-facebook"></i>
            <span>Nguyễn Thành</span>
          </a>
          <a href="#">
            <i class="fab fa-facebook-messenger"></i>
            <span>Nguyễn Thành</span>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
            <span>Nguyễn Thành</span>
          </a>
          <a href="#">
            <i class="fab fa-youtube"></i>
            <span>Miwth</span>
          </a>
        </div>
        <div class="col-lg-4">
          <h4>Contacts</h4>
          <p>
            <i class="fas fa-map-marker-alt"></i> Address: 1358 Quang Trung St.,
            Go Vap Dis.
          </p>
          <p><i class="fas fa-phone"></i> Phone: (0)34 - 654 - 2636</p>
          <p>
            <i class="fas fa-envelope"></i> Email: nongnguyenthanh@outlook.com
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
