<section class="about__banner">
    <img src="img/page_about_banner.jpg" alt="banner" />
</section>
<section class="blog">
    <div class="container">
        <h1>BLOG</h1>
        <div class="row mt-3">
            <div class="col-lg-8 col-md-6">
                <div class="about_us">
                    <img src="img/block3.jpg" alt="anh-1" />
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ducimus qui atque saepe consectetur adipisicing elit. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Ducimus qui
                        atque saepe...
                    </p>
                    <a href="./blog.html"><button>READ MORE</button></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog1.jpg" alt="anh-1" />
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog2.jpg" alt="anh-1" />
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="noi_dung">
                        <div class="block_noidung">
                            <img src="img/blog3.jpg" alt="anh-1" />
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ducimus qui atque saepe
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>