<section class="contact_us">
    <form action="#" class="lien-he">
        <div class="form-control text-start px-5 py-4">
            <div class="mb-3">
                Welcome to the Help Centre Sign in to contact Customer Service,
                we're available 24 hours a day Send us a message Contact our
                agents about your booking, and we'll reply as soon as possible.
                Call us For anything urgent, you can call us 24/7 on a local or
                international phone number.
            </div>
            <div class="card justify-content-center mx-auto">
                <div class="card-body p-0">
                    <div class="d-inline-flex p-2 bd-highlight justify-content-center w-100">
                        <div class="p-2 bd-highlight">
                                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                           style="width: 30px; height: 30px">
                                        <path
                                                d="M24 13.5a6 6 0 0 0-6-6h-3a6 6 0 0 0 0 12h.75l-.53-.22 4.5 4.5a.75.75 0 0 0 1.28-.53v-5.024l-.43.678A5.989 5.989 0 0 0 24 13.502zm-1.5-.002a4.489 4.489 0 0 1-2.57 4.05.75.75 0 0 0-.43.678v5.024l1.28-.53-4.5-4.5a.75.75 0 0 0-.53-.22H15a4.5 4.5 0 1 1 0-9h3a4.5 4.5 0 0 1 4.5 4.5zM6.22 12.22l-3 3 1.28.53v-5.024a.75.75 0 0 0-.43-.678A4.489 4.489 0 0 1 5.998 1.5H9a4.502 4.502 0 0 1 4.313 3.214.75.75 0 0 0 1.438-.428A6.002 6.002 0 0 0 9 0H6a5.988 5.988 0 0 0-2.57 11.404L3 10.726v5.024a.75.75 0 0 0 1.28.53l3-3a.75.75 0 1 0-1.06-1.06z">
                                        </path>
                                    </svg>
                                    Send us a message</span>
                            <p>
                                Contact our agents about your booking, and we'll reply as
                                soon as possible.
                            </p>
                        </div>
                        <div class="p-2 bd-highlight">
                                <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                           style="width: 30px; height: 30px">
                                        <path
                                                d="M14.662 23.038l.012.007c2.46 1.566 5.71 1.21 7.792-.873l.774-.774a2.596 2.596 0 0 0 0-3.669l-3.26-3.26a2.596 2.596 0 0 0-3.67 0 1.093 1.093 0 0 1-1.546.002l-.001-.001-5.219-5.22a1.096 1.096 0 0 1 0-1.548 2.593 2.593 0 0 0 .002-3.666c0-.002 0-.002-.002-.003L6.284.77a2.596 2.596 0 0 0-3.669 0l-.774.774A6.285 6.285 0 0 0 .982 9.36L1 9.386A50.691 50.691 0 0 0 14.62 23.011zm.798-1.27A49.186 49.186 0 0 1 2.244 8.55l-.005-.008a4.78 4.78 0 0 1 .662-5.938l.774-.774a1.096 1.096 0 0 1 1.549 0l3.26 3.264v.002c.428.427.427 1.119 0 1.545a2.596 2.596 0 0 0 0 3.67l5.218 5.22.002.001a2.593 2.593 0 0 0 3.667-.002 1.096 1.096 0 0 1 1.548 0l3.26 3.26c.428.427.428 1.12 0 1.548l-.773.774a4.783 4.783 0 0 1-5.951.652l-.037-.022z">
                                        </path>
                                    </svg>
                                    Call us</span>
                            <p>
                                For anything urgent, you can call us 24/7 on a local or
                                international phone number.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email"
                       placeholder="enter your email: name@example.com" />
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Leave a message</label>
                <textarea class="form-control" id="comment" rows="4" placeholder="Write your message..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>