<section class="explorer__vietnam mt-3 mb-5 pt-5 text-center bg1">
    <h1>Explore Vietnam</h1>
    <div class="container mt-3">
        <!-- Carousel -->
        <div id="VN-img" class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button
                        type="button"
                        data-bs-target="#VN-img"
                        data-bs-slide-to="0"
                        class="active"
                ></button>
                <button
                        type="button"
                        data-bs-target="#VN-img"
                        data-bs-slide-to="1"
                ></button>
                <button
                        type="button"
                        data-bs-target="#VN-img"
                        data-bs-slide-to="2"
                ></button>
                <button
                        type="button"
                        data-bs-target="#VN-img"
                        data-bs-slide-to="3"
                ></button>
                <button
                        type="button"
                        data-bs-target="#VN-img"
                        data-bs-slide-to="4"
                ></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img
                            src="../img/gallery/slide/hcm.jpg"
                            alt="Ho Chi Minh city"
                            class="d-block w-100"
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Ho Chi Minh city</h3>
                        <p>
                            Ho Chi Minh City, also known as Saigon, is a bustling
                            metropolis in southern Vietnam. The city is known for its
                            historic landmarks, vibrant street life, and delicious
                            cuisine, making it a popular destination for tourists from all
                            over the world.
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img
                            src="../img/gallery/slide/hoian.jpg"
                            alt="Hoi An"
                            class="d-block w-100"
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Hoi An</h3>
                        <p>
                            Hoi An is a picturesque ancient town in central Vietnam,
                            renowned for its well-preserved architecture, cultural
                            heritage, and colorful atmosphere.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                            src="../img/gallery/slide/hanoi.jpg"
                            alt="Ha Noi"
                            class="d-block w-100"
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Ha Noi</h3>
                        <p>
                            Hanoi is the capital city of Vietnam, known for its rich
                            history, cultural heritage, and vibrant street food scene.
                            Visitors can explore ancient temples and museums, take a
                            stroll around Hoan Kiem Lake, or sample delicious local dishes
                            such as Pho and Bun Cha.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                            src="../img/gallery/slide/halong.jpg"
                            alt="Ha Long Bay"
                            class="d-block w-100"
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Ha Long Bay</h3>
                        <p>
                            Halong Bay is a stunning natural wonder located in
                            northeastern Vietnam. Known for its emerald waters, towering
                            limestone cliffs, and picturesque islands, Halong Bay is a
                            popular destination for cruising, kayaking, and exploring the
                            natural beauty of Vietnam.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                            src="../img/gallery/slide/dalat.jpg"
                            alt="Da Lat"
                            class="d-block w-100"
                    />
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Da Lat</h3>
                        <p>
                            Dalat is a picturesque city located in the central highlands
                            of Vietnam. Known for its temperate climate, beautiful
                            landscapes, and French colonial architecture, Dalat is a
                            popular destination for both domestic and international
                            tourists. Visitors can explore scenic waterfalls, visit
                            historic landmarks, or simply relax and enjoy the tranquil
                            atmosphere of this charming city.
                        </p>
                    </div>
                </div>
            </div>
            <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#VN-img"
                    data-bs-slide="prev"
            >
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#VN-img"
                    data-bs-slide="next"
            >
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</section>
<section class="row bg2">
    <h2>Explore Ho Chi Minh</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hcm-image-1" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hcm-image-2" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hcm-image-3" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hcm-image-4" src="" alt="explore"/>
            </div>
        </div>
    </div>
</section>
<section class="row bg1">
    <h2>Explore Hoi An</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hoian-image-1" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hoian-image-2" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hoian-image-3" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hoian-image-4" src="" alt="explore"/>
            </div>
        </div>
    </div>
</section>
<section class="row bg2">
    <h2>Explore Da Lat</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="dalat-image-1" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="dalat-image-2" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="dalat-image-3" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="dalat-image-4" src="" alt="explore"/>
            </div>
        </div>
    </div>
</section>
<section class="row bg1">
    <h2>Explore Ha Noi</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hanoi-image-1" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hanoi-image-2" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hanoi-image-3" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="hanoi-image-4" src="" alt="explore"/>
            </div>
        </div>
    </div>
</section>
<section class="row bg2">
    <h2>Explore Ha Long</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="halong-image-1" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="halong-image-2" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="halong-image-3" src="" alt="explore"/>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img id="halong-image-4" src="" alt="explore"/>
            </div>
        </div>
    </div>
</section>
<script>
    const imageIds = [
        "hcm-image-1",
        "hcm-image-2",
        "hcm-image-3",
        "hcm-image-4",
        "dalat-image-1",
        "dalat-image-2",
        "dalat-image-3",
        "dalat-image-4",
        "hoian-image-1",
        "hoian-image-2",
        "hoian-image-3",
        "hoian-image-4",
        "hanoi-image-1",
        "hanoi-image-2",
        "hanoi-image-3",
        "hanoi-image-4",
        "halong-image-1",
        "halong-image-2",
        "halong-image-3",
        "halong-image-4",
    ];

    const hcmImgPaths = [];
    const daLatImgPaths = [];
    const hoiAnImgPaths = [];
    const haNoiImgPaths = [];
    const haLongImgPaths = [];

    for (let i = 1; i <= 30; i++) {
        const hcmImagePath = `/img/gallery/hcm/${i}.jpg`;
        hcmImgPaths.push(hcmImagePath);

        const daLatImagePath = `/img/gallery/dalat/${i}.jpg`;
        daLatImgPaths.push(daLatImagePath);

        const hoiAnImagePath = `/img/gallery/hoian/${i}.jpg`;
        hoiAnImgPaths.push(hoiAnImagePath);

        const haNoiImagePath = `/img/gallery/hanoi/${i}.jpg`;
        haNoiImgPaths.push(haNoiImagePath);

        const haLongImagePath = `/img/gallery/halong/${i}.jpg`;
        haLongImgPaths.push(haLongImagePath);
    }

    const imagePaths = {
        "hcm": hcmImgPaths,
        "dalat": daLatImgPaths,
        "hoian": hoiAnImgPaths,
        "hanoi": haNoiImgPaths,
        "halong": haLongImgPaths,
    };

    for (const imageId of imageIds) {
        const imageLocation = imageId.split("-")[0];
        const imagePathsForLocation = imagePaths[imageLocation];

        const randomIndex = Math.floor(Math.random() * imagePathsForLocation.length);
        const randomImagePath = imagePathsForLocation[randomIndex];

        const img = document.getElementById(imageId);
        img.src = randomImagePath;
        imagePathsForLocation.splice(randomIndex, 1);
    }

</script>