<section class="py-5 text-center my-3">
    <h1>Best Hotel in Ho Chi Minh</h1>
    <!-- Gallery -->
    <div class="row">
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/lavelahotel.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/02.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/03.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/04.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/05.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
        <div class="hotel col-lg-6 col-md-6">
            <a href="detail.html"
            ><img
                    src="../img/hcm/06.jpg"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Lavela SaiGon Hotel"
            /></a>
            <div class="des"><span>Lavela SaiGon Hotel</span></div>
        </div>
    </div>
    <!-- Gallery -->
</section>